
html, body{
	width:100%;
	height:100%;
}
body{
background: url('img/UniscoWeb.png') no-repeat center center; 
background-size: cover;

}
#loginBox
{
	height:100%;
}
.row
{
	width:70%;
	position:absolute;
    /* height: 205px; */
	overflow: hidden;
	bottom:30%;
	left:30%;
}

#title
{
	font-weight:bold;
	font-size:22px;
}

#login, #signUpBox {
  /*   max-width:300px;
    min-width:250px; */
/*     padding:10px 50px;
 */ 
	/* width: 30vh;
    height: 25vh; */
	padding-bottom:10px;
	position:relative;
	border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
	background-color:#861715;
}

#signUpBox{
	/* width: 100%;
    height: 100%; */
	/* bottom: 5px;
	position: absolute; */
/* 	float: right;
   top: 87%;
    left: 62%;*/
    /* width: 400px;
    height: 205px; */
   /* margin-top: -150px;
    margin-left: -210px;*/
	background-color:white;
	text-align: center;
}
#login{
	/* width: 100%;
    height: 100%; */
	/*bottom: 5px;
	position: absolute;
	float: left;
    top: 87%;
    left: 35%; */
    /* width: 400px;
    height: 205px; */
    /* margin-top: -150px;
    margin-left: -210px; */
	background-color:white;
	text-align: center;
}


#loginLetter{
	font-size:2em;
}
h2
{
	font-size:50%;
}
#inputBox
{
	width: 80%;
}

@media only screen and (max-device-width: 640px)
{
	.row
	{
		width: 70%;
	}
	body
	{
		background: url('img/UniscoWeb.png') no-repeat center center; 
		background-position:50% 50%;
		background-size: 100%;
		height:100%;
		width:100%;


	}
	#login, #signUpBox {
		width:75px;
		height:75px;
		
		border:2px solid gray;
		border-radius:10px;
		font-family:raleway;
		background-color:#861715;
	}
	#title{
		font-size:15px;
	}
	#inputBox
	{
		height:20%;
		width:40%;
	}
}





















