
.icon-doc-text-inv:before { content: '\21'; } /* '!' */
.icon-cog:before { content: '\22'; } /* '&quot;' */
.icon-logout:before { content: '\23'; } /* '#' */
.icon-logout-1:before { content: '\24'; } /* '$' */
.icon-power:before { content: '\25'; } /* '%' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */